@import "colors.css";

* {
  font-family: "RedHat Mono", "Symbols Nerd Font";
  font-weight: 600;
  font-size: 14px;
}

#waybar {
  background-color: @surface_translucent;
  color: @on_surface;
  border-radius: 8px;
}

.modules-left {
  margin-left: 16px;
}

#clock {
  background-color: transparent;
}

.modules-right {
  margin-right: 18px;
}

#tray menu {
  background-color: @surface;
}

#custom-seperator {
  margin: 0 -4px;
  opacity: 0.4;
  color: @outline;
}
