@import "colors.css";

* {
  font-family: "RedHat Mono", "Symbols Nerd Font";
  font-weight: 600;
  font-size: 14px;
}

#waybar {
  background-color: @surface_translucent;
  color: @on_surface;
}

tooltip {
  background-color: @surface_translucent;
}

tooltip label {
  font-family: "Jetbrains Mono Nerd Font";
  margin: -4px 0px;
  padding: 0px 4px;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.8;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 18px;
}

#tray menu {
  background-color: @surface_translucent;
}

#custom-seperator {
  margin: 0 -4px;
  opacity: 0.4;
  color: @outline;
}

